@page
@model LoginModel

@{
}

<div class="container login-container col-md-6">
    <div class="row">
        <div class="col-md-12 login-form">
            <section>
                <form id="account" method="post">
                    <h4>Prijavite se na vaš račun</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Input.Email" type="text" class="form-control" placeholder="Vaš email" value="" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Password" type="password" class="form-control" placeholder="Vaša lozinka" value="" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                Zapamti me
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                    <div class="form-group">
                        <p>
                            <a class="links" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                        <p>
                            <a class="links" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Pošaljite ponovo potvrdu prijave.</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
