@page
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home page";
}
@*@if (SignInManager.IsSignedIn(User))
{*@
    <div class="container-fluid text-left w-75 h-100 bg-light">
        <div class="justify-content-center row col-md-12 pt-1">
            <input class="form-control col-md-9 text-center" id="myInput" type="text" placeholder="Tražite naziv, opis posla. Počnite kucati...">
        </div>
        <div class="row justify-content-xl-center">
            @*@foreach (var oglas in model)
                {*@
            <div id="NaslovOglasa" class=" p-3 col-md-5">
                <div class="">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@*@*@oglas.NazivOglasa</h5>
                            <p class="card-text">@*@*@oglas.OpisOglasa</p>
                            <a class="btn btn-primary" asp-action="Index" asp-controller="Oglas" asp-route-ID="@*@*@oglas.ID">Više detalja</a>
                        </div>
                    </div>
                </div>
            </div>
            @*}*@
        </div>
    </div>
@*}
else
{
    <div>
        <script type="text/javascript">
             window.location.href = "AccountManagement/Login";
        </script>
    </div>
}*@

    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#NaslovOglasa div").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
