@page
@{
}
<div class="register-background align-items-center">
    <h2 class="registerNaslov">Tražite posao ili novog uposlenika? Samo jedan klik vas dijeli od vašeg cilja.</h2>
    <div class="register-buttons">
        <a class="registerLinks" asp-area="" asp-controller="AccountManagement" asp-action="RegisterPoslodavac">Registruj se kao poslodavac</a>
        <a class="registerLinks" asp-area="" asp-controller="AccountManagement" asp-action="RegisterFizickoLice">Registruj se kao fizicko lice</a>
    </div>
</div>